<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nearby Shops</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <!-- Set map height! -->
    <style>
        #mapid { height: 500px; }
    </style>
</head>
<body>
    <h1>Nearby Shops</h1>
    {% if shops %}
    <ul>
        {% for shop in shops %}
        <li>
            {{ shop.name }}: {{ shop.distance }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- map div -->
    <div id="mapid"></div>
    <!-- map js -->
    <script>
    var map = L.map('mapid').setView([39.290440, -76.612330], 17);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

    L.marker([39.290440, -76.612330]).addTo(map).bindPopup('You are here.<br> Easily customizable.').openPopup();
    {% for shop in shops %}
    var circle = L.circle([{{ shop.location.y }}, {{ shop.location.x }}], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 5
    }).addTo(map);
    L.marker([{{ shop.location.y }}, {{ shop.location.x }}]).addTo(map).bindPopup('{{ shop.name }}<br> {{ shop.distance }}').openPopup();
    {% endfor %}
    </script>
</body>
</html>